.editorRoot{
  margin: 1% auto;
}

.editorContainer{
  border: 1px solid #ccc;
  cursor: text;
  minHeight: 80px;
  padding: 10px;
}

.editorInput{
  resize: none;
  height: 300px;
}

.inputCard {
  width: 80%;
  margin: 1% auto;
}
